openapi: 3.2.0
info:
  title: GetResponse APIv3 SMS Automation Messages API
  version: 3.2026-07-28T07:58:55+00:00
  description: The SMS Automation Messages operations of the GetResponse APIv3, split by tag from the provider-published OpenAPI at https://apireference.getresponse.com/open-api.json
  contact:
    name: API Support - DevZone
    url: https://app.getresponse.com/feedback.html?devzone=yes
    email: getresponse-devzone@cs.getresponse.com
servers:
- url: https://api.getresponse.com/v3
  description: GetResponse
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX US
- url: https://api3.getresponse360.pl/v3
  description: GetResponse MAX PL
tags:
- name: SMS Automation Messages
  description: SMS Automation Messages API documentation
paths:
  /sms-automation/{smsId}:
    parameters:
    - name: smsId
      in: path
      description: The automated SMS message ID
      required: true
      schema:
        type: string
      example: N
    get:
      tags:
      - SMS Automation Messages
      summary: Get a single automated SMS message by its ID.
      operationId: getSmsAutomationById
      parameters:
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/SmsAutomationDetails'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-labels:
      - content: GetResponse MAX
        class: primary
      - content: Add-on required
        class: warning
  /sms-automation:
    get:
      tags:
      - SMS Automation Messages
      summary: Get the list of automated SMS messages.
      description: You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.
      operationId: getSMSAutomationList
      parameters:
      - name: query[name]
        in: query
        description: Search automated SMS messages by name
        required: false
        schema:
          type: string
      - name: query[campaignId]
        in: query
        description: Search automated SMS messages by campaign (list) ID
        required: false
        schema:
          type: string
      - name: query[hasLinks]
        in: query
        description: Search for automated SMS messages containing links
        required: false
        schema:
          type: boolean
      - name: sort[status]
        in: query
        description: Sort by the status of the SMS message
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[name]
        in: query
        description: Sort by the name of the automated SMS message
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[modifiedOn]
        in: query
        description: Sort by the date the SMS message was modified on
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[delivered]
        in: query
        description: Sort by the number of delivered SMS messages
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[sent]
        in: query
        description: Sort by the number of sent SMS messages
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[clicks]
        in: query
        description: Sort by the number of link clicks
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/SmsAutomationList'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-labels:
      - content: GetResponse MAX
        class: primary
      - content: Add-on required
        class: warning
components:
  schemas:
    SortOrderEnum:
      type: string
      enum:
      - ASC
      - DESC
    CampaignReference:
      required:
      - campaignId
      properties:
        campaignId:
          description: Campaign ID
          type: string
          example: C
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/campaigns/C
        name:
          description: The campaign name
          type:
          - string
          - 'null'
          readOnly: true
          example: Promo campaign
      type: object
    ErrorResponse:
      required:
      - httpStatus
      - code
      - codeDescription
      - message
      - moreInfo
      - context
      - uuid
      properties:
        httpStatus:
          description: HTTP response code
          type: integer
          format: int32
        code:
          description: API error code
          type: integer
          format: int32
        codeDescription:
          description: API error code description
          type: string
        message:
          description: Error message
          type: string
        moreInfo:
          description: URL to error description in the API Docs
          type: string
        context:
          type: object
        uuid:
          description: UUID of the error response
          type: string
      type: object
    SmsAutomationListItem:
      required:
      - smsId
      properties:
        smsId:
          description: The automated SMS message ID
          type: string
          readOnly: true
          example: N
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/sms-automation/N
        name:
          description: The automated SMS message name
          type: string
          maxLength: 128
          minLength: 2
          example: New message
        campaign:
          description: The campaign the SMS message is in
          allOf:
          - $ref: '#/components/schemas/CampaignReference'
        modifiedOn:
          description: The date the automated SMS message was last modified on, shown in `ISO 8601` date and time format. e.g. `2022-04-10T10:02:57+0000`
          type: string
          format: date-time
        status:
          description: The status of of the automated SMS message
          type: string
          enum:
          - ready
          - in_use
        statistics:
          description: Automate SMS message statistics
          allOf:
          - properties:
              sent:
                description: The number od sent automated SMS messages
                type: integer
                example: 12
              delivered:
                description: The number of delivered automated SMS messages
                type: integer
                example: 10
              clicks:
                description: The number of automated SMS link clicks
                type: integer
                example: 8
            type: object
        senderName:
          description: The name of the sender of the automated SMS message
          type: string
          readOnly: true
        hasLinks:
          description: Information is the automated SMS message contains links
          type: boolean
          readOnly: true
      type: object
    SmsAutomationDetails:
      type: object
      allOf:
      - properties:
          workflows:
            description: Details of the workflows in which the given automated SMS is used
            type: array
            items:
              allOf:
              - properties:
                  workflowId:
                    description: The workflow ID
                    type: string
                    example: wkFiD
                  name:
                    description: The workflow name
                    type: string
                    example: Workflow 1
                  href:
                    description: Direct hyperlink to a resource
                    type: string
                    example: https://api.getresponse.com/v3/workflow/wkFiD
                type: object
          clickTracks:
            description: Details of links attached to automated SMS message
            type: array
            items:
              allOf:
              - properties:
                  clickTrackId:
                    description: The click track ID
                    type: string
                    example: a2
                  href:
                    description: Direct hyperlink to a resource
                    type: string
                    example: https://api.getresponse.com/v3/click-tracks/a2
                  url:
                    description: The link URL
                    type: string
                    example: https://example.com
                  label:
                    description: The link label
                    type: string
                    example: example-link
                  amount:
                    description: Number of clicks on a link
                    type: integer
                    example: 2
                  uniqueAmount:
                    description: Number of unique clicks on link
                    type: integer
                    example: 1
                type: object
          content:
            description: The automated SMS message content
            type:
            - string
            - 'null'
            example: Hello, world!
      - $ref: '#/components/schemas/SmsAutomationListItem'
  headers:
    TotalPages:
      description: The total number of pages
      schema:
        type: integer
        format: int32
    CurrentPage:
      description: The current page number
      schema:
        type: integer
        format: int32
    RateLimitLimit:
      description: The total number of requests available per time frame
      schema:
        type: integer
        format: int32
    RateLimitReset:
      description: Seconds left in the current time frame, e.g. "432 seconds"
      schema:
        type: string
    TotalCount:
      description: The total number of resources found for the specified conditions
      schema:
        type: integer
        format: int32
    RateLimitRemaining:
      description: The number of requests left in the current time frame
      schema:
        type: integer
        format: int32
  parameters:
    PerPage:
      name: perPage
      in: query
      description: Requested number of results per page
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        maximum: 1000
        minimum: 1
    Page:
      name: page
      in: query
      description: Page number
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    Fields:
      name: fields
      in: query
      description: List of fields that should be returned. Id is always returned. Fields should be separated by comma
      required: false
      schema:
        type: string
  responses:
    SmsAutomationDetails:
      description: The automated SMS message details
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SmsAutomationDetails'
    SmsAutomationList:
      description: The list of the automated SMS messages
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        CurrentPage:
          $ref: '#/components/headers/CurrentPage'
        TotalPages:
          $ref: '#/components/headers/TotalPages'
        TotalCount:
          $ref: '#/components/headers/TotalCount'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SmsAutomationListItem'
  securitySchemes:
    api-key:
      type: apiKey
      description: Header value must be prefixed with api-key
      name: X-Auth-Token
      in: header
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          scopes:
            all: all data access
        authorizationCode:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
        clientCredentials:
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
