openapi: 3.2.0
info:
  title: GetResponse APIv3 Newsletters API
  version: 3.2026-07-28T07:58:55+00:00
  description: The Newsletters operations of the GetResponse APIv3, split by tag from the provider-published OpenAPI at https://apireference.getresponse.com/open-api.json
  contact:
    name: API Support - DevZone
    url: https://app.getresponse.com/feedback.html?devzone=yes
    email: getresponse-devzone@cs.getresponse.com
servers:
- url: https://api.getresponse.com/v3
  description: GetResponse
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX US
- url: https://api3.getresponse360.pl/v3
  description: GetResponse MAX PL
tags:
- name: Newsletters
  description: Newsletters API documentation
paths:
  /newsletters/{newsletterId}:
    parameters:
    - $ref: '#/components/parameters/newsletterId'
    get:
      tags:
      - Newsletters
      summary: Get a single newsletter by its ID.
      operationId: getNewsletter
      parameters:
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/NewsletterDetails'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
    delete:
      tags:
      - Newsletters
      summary: Delete newsletter
      operationId: deleteNewsletter
      responses:
        '204':
          description: Delete newsletter.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
  /newsletters/{newsletterId}/activities:
    parameters:
    - $ref: '#/components/parameters/newsletterId'
    get:
      tags:
      - Newsletters
      summary: Get newsletter activities
      description: "**DEPRECATED**: This method is deprecated and scheduled for removal. To synchronise newsletter activities please use [custom reports](https://apireference.getresponse.com/#operation/createCustomReport) with type `message_activity_reports`. This is the preferred approach due to better performance. \n\n By default, activities from the **last 14 days** are listed only. You can get activities for last 30 days only. You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by."
      operationId: getNewsletterActivities
      parameters:
      - name: query[activity]
        in: query
        description: Search newsletter activities by activity type
        required: false
        schema:
          type: string
          enum:
          - send
          - open
          - click
      - name: query[createdOn][from]
        in: query
        description: Search newsletter activities from this date. Default value is 14 days earlier. You can get activities for last 30 days only.
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: query[createdOn][to]
        in: query
        description: Search newsletter activities to this date. Default value is now
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: sort[createdOn]
        in: query
        description: Sort by date
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/NewsletterActivities'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      deprecated: true
      security:
      - api-key: []
      - oauth2:
        - all
  /newsletters/{newsletterId}/cancel:
    parameters:
    - $ref: '#/components/parameters/newsletterId'
    post:
      tags:
      - Newsletters
      summary: Cancel sending the newsletter
      description: '>

        Using this method, you can cancel the sending of the newsletter. It will also turn the newsletter into a **draft**.

        '
      operationId: cancelMessageSend
      responses:
        '200':
          $ref: '#/components/responses/NewsletterDetails'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-operation-class-name: CancelNewsletter
      x-no-body: true
  /newsletters/{newsletterId}/statistics:
    parameters:
    - $ref: '#/components/parameters/newsletterId'
    get:
      tags:
      - Newsletters
      summary: The statistics of single newsletter
      description: ">\nThis makes it possible to easily fetch statistics for a single newsletter. You can group the data hourly, daily, monthly and as a\ntotal sum. Remember that all statistics date ranges are given in standard UTC period type objects.\n([See ISO 8601 standard](http://en.wikipedia.org/wiki/ISO_8601#Time_intervals)).\n You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by."
      operationId: getSingleNewsletterStatistics
      parameters:
      - name: query[groupBy]
        in: query
        description: Group results by time interval
        required: false
        schema:
          type: string
          enum:
          - total
          - hour
          - day
          - month
      - name: query[createdOn][from]
        in: query
        description: Count data from this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: query[createdOn][to]
        in: query
        description: Count data to this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/SingleMessageStatisticsList'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-operation-class-name: GetNewsletterStatistics
  /newsletters/{newsletterId}/thumbnail:
    parameters:
    - $ref: '#/components/parameters/newsletterId'
    get:
      tags:
      - Newsletters
      summary: Get newsletter thumbnail
      operationId: getNewsletterThumbnail
      parameters:
      - name: size
        in: query
        description: The size of the thumbnail
        required: false
        schema:
          type: string
          default: default
          enum:
          - default
          - small
      responses:
        '200':
          description: The newsletter thumbnail.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
          content:
            image/*:
              schema:
                type: string
                format: binary
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-type: get
      x-operation-class-name: GetNewsletterThumbnail
  /newsletters:
    get:
      tags:
      - Newsletters
      summary: Get the newsletter list
      description: You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.
      operationId: getNewsletterList
      parameters:
      - name: query[subject]
        in: query
        description: Search newsletters by subject
        required: false
        schema:
          type: string
      - name: query[name]
        in: query
        description: Search newsletters by name
        required: false
        schema:
          type: string
      - name: query[status]
        in: query
        description: Search newsletters by status
        required: false
        schema:
          type: string
          enum:
          - enabled
          - disabled
      - name: query[createdOn][from]
        in: query
        description: Search newsletters created from this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: query[createdOn][to]
        in: query
        description: Search newsletters created to this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: query[sendOn][from]
        in: query
        description: Search for newsletters sent from this date
        required: false
        schema:
          type: string
          format: date
          example: '2023-01-20'
      - name: query[sendOn][to]
        in: query
        description: Search for newsletters sent to this date
        required: false
        schema:
          type: string
          format: date
          example: '2023-01-20'
      - name: query[type]
        in: query
        description: Search newsletters by type
        required: false
        schema:
          type: string
          enum:
          - draft
          - broadcast
          - splittest
          - automation
      - name: query[campaignId]
        in: query
        description: Search newsletters by campaign ID
        required: false
        schema:
          type: string
      - name: sort[createdOn]
        in: query
        description: Sort by date
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[sendOn]
        in: query
        description: Sort by send on date
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/NewsletterList'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
    post:
      tags:
      - Newsletters
      summary: Create newsletter
      description: '>

        This method creates a new newsletter and puts it in a queue to send.


        **NOTE: This method has a limit of 256 calls per day.**

        '
      operationId: createNewsletter
      requestBody:
        $ref: '#/components/requestBodies/NewNewsletter'
      responses:
        '201':
          $ref: '#/components/responses/NewsletterDetails'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
  /newsletters/send-draft:
    post:
      tags:
      - Newsletters
      summary: Send the newsletter draft
      operationId: sendDraft
      requestBody:
        $ref: '#/components/requestBodies/SendNewsletterDraft'
      responses:
        '201':
          $ref: '#/components/responses/NewsletterDetails'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-operation-class-name: SendNewsletterDraft
  /newsletters/statistics:
    get:
      tags:
      - Newsletters
      summary: Total newsletter statistics
      description: '>This makes it possible to fetch newsletter statistics based on the list of campaign or newsletter IDs

        (you can pass them in the query parameter - see the description below). Remember that all the statistics date ranges

        are returned in standard UTC period type objects. ([See ISO 8601 standard](http://en.wikipedia.org/wiki/ISO_8601#Time_intervals)). You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.'
      operationId: getNewsletterStatisticsCollection
      parameters:
      - name: query[groupBy]
        in: query
        description: Group results by time interval
        required: false
        schema:
          type: string
          enum:
          - total
          - hour
          - day
          - month
      - name: query[newsletterId]
        in: query
        description: The list of newsletter resource IDs (string separated with '')
        required: false
        schema:
          type: string
      - name: query[campaignId]
        in: query
        description: The list of campaign resource IDs (string separated with '')
        required: false
        schema:
          type: string
      - name: query[createdOn][from]
        in: query
        description: Count data from this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: query[createdOn][to]
        in: query
        description: Count data to this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/MessageStatisticsList'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
components:
  requestBodies:
    SendNewsletterDraft:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendNewsletterDraft'
    NewNewsletter:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewNewsletter'
  schemas:
    SortOrderEnum:
      type: string
      enum:
      - ASC
      - DESC
    CampaignReference:
      required:
      - campaignId
      properties:
        campaignId:
          description: Campaign ID
          type: string
          example: C
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/campaigns/C
        name:
          description: The campaign name
          type:
          - string
          - 'null'
          readOnly: true
          example: Promo campaign
      type: object
    NewsletterActivity:
      properties:
        activity:
          description: The type of activity
          type: string
          enum:
          - send
          - open
          - click
        createdOn:
          description: The date when activity occurred
          type: string
          format: date-time
          example: 2019-10-21T11:08:45+0000
        contact:
          description: The contact ID
          allOf:
          - $ref: '#/components/schemas/NewsletterActivityContactReference'
      type: object
    MessageFlagsString:
      description: 'Comma-separated list of message flags. The possible values are: `openrate`, `clicktrack`, and `google_analytics`.'
      type: string
      example: clicktrack,google_analytics
    TimeZone:
      required:
      - timeZoneId
      properties:
        timeZoneId:
          description: 'Time zone ID: [Link to resource](https://apireference.getresponse.com/#operation/getTimezones)'
          type: integer
          example: 282
      type: object
    NewsletterActivityContactReference:
      properties:
        contactId:
          description: 'Unique identifier of the contact. You can retrieve this ID from the [list of contacts](https://apireference.getresponse.com/#operation/getContactList) field: contactId'
          type: string
          example: pV3r
        email:
          description: The contact email
          type: string
          example: contact@domain.com
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          example: https://api.getresponse.com/v3/contacts/pV3r
      type: object
    MessageEditorEnum:
      description: 'Indicates how the message was created: `custom` means a custom-made message, `text` means plain text content, `getresponse` means that the message was created using the GetResponse editor.'
      type: string
      enum:
      - custom
      - text
      - getresponse
      - legacy
      - html2
    FromFieldReference:
      required:
      - fromFieldId
      properties:
        fromFieldId:
          description: The 'From' address ID
          type: string
          example: V
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/from-fields/V
      type: object
    ExternalLexpad:
      description: 'External Lexpad settings for the message, read more: [External Lexpad](https://apidocs.getresponse.com/v3/dynamic-content/external-lexpad)'
      required:
      - dataSourceUrl
      properties:
        dataSourceUrl:
          description: URL to the endpoint that will provide data for External Lexpad
          type: string
          format: uri
          maxLength: 2048
          minLength: 1
          example: https://example.com/external_lexpad
        dataSourceToken:
          description: Token that will be sent in `X-Auth-Token` header to authenticate the requests made to the endpoint
          type:
          - string
          - 'null'
          maxLength: 255
          minLength: 0
          example: cf4dfca78434bf927a7655c0c4d95a2a45c33b71
      type: object
    StringBooleanEnum:
      type: string
      enum:
      - 'true'
      - 'false'
    Newsletter:
      required:
      - newsletterId
      - href
      properties:
        newsletterId:
          description: The newsletter ID
          type: string
          readOnly: true
          example: N
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/newsletters/N
        name:
          description: The newsletter name
          type: string
          maxLength: 128
          minLength: 2
          example: New message
        type:
          description: The newsletter type
          type: string
          default: broadcast
          enum:
          - broadcast
          - draft
        status:
          description: The newsletter status
          readOnly: true
          example: enabled
          allOf:
          - $ref: '#/components/schemas/StatusEnum'
        editor:
          description: This describes how the content of the message was created
          allOf:
          - $ref: '#/components/schemas/MessageEditorEnum'
        subject:
          description: The message subject
          type: string
          maxLength: 128
          minLength: 2
          example: Annual report
        fromField:
          description: The 'From' email address used for the message
          allOf:
          - $ref: '#/components/schemas/FromFieldReference'
        replyTo:
          description: The email that will be used as the reply-to address
          allOf:
          - $ref: '#/components/schemas/FromFieldReference'
        campaign:
          description: The newsletter must be assigned to a campaign
          allOf:
          - $ref: '#/components/schemas/CampaignReference'
        sendOn:
          description: The scheduled send date and time for the newsletter in the ISO 8601 format.
          type: string
          format: date-time
          readOnly: true
        attachments:
          description: The newsletter attachments. The size of all attachments combined can't exceed 400KB
          type: array
          items:
            $ref: '#/components/schemas/NewsletterAttachment'
        sendSettings:
          description: How the message will be delivered to the subscriber. You can specify multiple parameters. Then the system uses AND logic.
          allOf:
          - $ref: '#/components/schemas/NewsletterSendSettingsDetails'
        sendMetrics:
          description: The sending metrics
          type: object
          readOnly: true
          allOf:
          - properties:
              status:
                type: string
                default: finished
                enum:
                - scheduled
                - in_progress
                - finished
              sent:
                description: Messages already sent
                type: string
                example: '100'
              total:
                description: The total amount of messages to send
                type: string
                example: '200'
              delivered:
                description: The amount of delivered messages
                type: string
                example: '99'
              openRate:
                description: The ratio of unique opens to delivered messages
                type: string
                example: '0.02'
              clickRate:
                description: The ratio of unique link clicks to delivered messages
                type: string
                example: '0.01'
              humanOpenRate:
                description: The ratio of unique human opens to delivered messages
                type: string
                example: '0.12'
              humanClickRate:
                description: The ratio of unique human link clicks to delivered messages
                type: string
                example: '0.13'
            type: object
        createdOn:
          description: The creation date
          type: string
          format: date-time
          readOnly: true
      type: object
    DateOrDateTime:
      oneOf:
      - type: string
        format: date
        example: '2018-04-15'
      - type: string
        format: date-time
        example: 2018-01-15T13:30:42+0000
    MessageContent:
      description: The message content.
      properties:
        html:
          description: The message content in HTML
          type: string
          maxLength: 524288
          example: <h1>test 12</h1><p>Some test <a href="http://example.com">http://example.com</a></p>
        plain:
          description: The plain text equivalent of the message content
          type: string
          maxLength: 524288
          example: test 12 Some test
      type: object
    NewsletterSendSettingsDetails:
      properties:
        selectedCampaigns:
          description: The list of selected campaigns
          type: array
          items:
            type: string
            example: V
        selectedSegments:
          description: The list of selected segments
          type: array
          items:
            type: string
            example: S
        selectedSuppressions:
          description: The list of selected suppressions (suppressions exclude contacts)
          type: array
          items:
            type: string
            example: Se
        excludedCampaigns:
          description: The list of excluded campaigns
          type: array
          items:
            type: string
            example: O
        excludedSegments:
          description: The list of excluded segments
          type: array
          items:
            type: string
            example: R
        selectedContacts:
          description: The list of selected contacts
          type: array
          items:
            type: string
            example: Qs
        timeTravel:
          description: Use the time travel functionality. This means that the system will match the scheduled sending hour for the message to the time zone of each recipient. As a result, sending may take up to 24 hours.
          example: 'true'
          allOf:
          - $ref: '#/components/schemas/StringBooleanEnum'
        perfectTiming:
          description: Use the perfect timing functionality
          example: 'false'
          allOf:
          - $ref: '#/components/schemas/StringBooleanEnum'
        externalLexpad:
          description: 'External Lexpad settings for the message, read more: [External Lexpad](https://apidocs.getresponse.com/v3/dynamic-content/external-lexpad)'
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/ExternalLexpad'
        sendOn:
          description: The scheduled send date and time for the newsletter. **Please note:** To send your message immediately, omit the `sendOn` section
          required:
          - date
          - timeZone
          properties:
            date:
              description: The scheduled send date and time for the newsletter in the ISO 8601 format
              type: string
              format: date-time
              example: '2024-07-14T07:00:00'
            timeZone:
              description: The time zone in which the newsletter is to be sent
              type: object
              allOf:
              - $ref: '#/components/schemas/TimeZone'
          type: object
          writeOnly: true
      type: object
    NewsletterAttachment:
      properties:
        fileName:
          description: The file name
          type: string
          example: some_file.jpg
        content:
          description: The base64 encoded file content
          type: string
          format: byte
          example: sdfadsfetsdjfdskafdsaf==
        mimeType:
          description: The file mime type
          type: string
          example: image/jpeg
      type: object
    NewNewsletter:
      required:
      - subject
      - fromField
      - campaign
      - content
      - sendSettings
      properties:
        content:
          $ref: '#/components/schemas/MessageContent'
        flags:
          $ref: '#/components/schemas/MessageFlagsArray'
        trackOpens:
          description: Enables open tracking for the message. When true, message opens are tracked; when false, they are not. Defaults to true when omitted.
          example: 'true'
          allOf:
          - $ref: '#/components/schemas/StringBooleanEnum'
        name:
          description: The newsletter name
          type: string
          maxLength: 128
          minLength: 2
          example: New message
        type:
          description: The newsletter type
          type: string
          default: broadcast
          enum:
          - broadcast
          - draft
        subject:
          description: The message subject
          type: string
          maxLength: 128
          minLength: 2
          example: Annual report
        fromField:
          description: The 'From' email address used for the message
          allOf:
          - $ref: '#/components/schemas/FromFieldReference'
        replyTo:
          description: The email that will be used as the reply-to address
          allOf:
          - $ref: '#/components/schemas/FromFieldReference'
        campaign:
          description: The newsletter must be assigned to a campaign
          allOf:
          - $ref: '#/components/schemas/CampaignReference'
        attachments:
          description: The newsletter attachments. The size of all attachments combined can't exceed 400KB
          type: array
          items:
            $ref: '#/components/schemas/NewsletterAttachment'
        sendSettings:
          description: How the message will be delivered to the subscriber. You can specify multiple parameters. Then the system uses AND logic.
          allOf:
          - $ref: '#/components/schemas/NewsletterSendSettingsDetails'
      type: object
    SendNewsletterDraft:
      required:
      - messageId
      - sendSettings
      properties:
        messageId:
          description: The message identifier (equals to newsletterId)
          type: string
          example: N
        sendSettings:
          description: How the message will be delivered to the subscriber
          allOf:
          - $ref: '#/components/schemas/NewsletterSendSettingsDetails'
      type: object
    StatusEnum:
      type: string
      enum:
      - enabled
      - disabled
    NewsletterListElement:
      required:
      - newsletterId
      - href
      properties:
        newsletterId:
          description: The newsletter ID
          type: string
          readOnly: true
          example: N
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/newsletters/N
        name:
          description: The newsletter name
          type: string
          maxLength: 128
          minLength: 2
          example: New message
        type:
          description: The newsletter type
          type: string
          default: broadcast
          enum:
          - broadcast
          - draft
        status:
          description: The newsletter status
          readOnly: true
          example: enabled
          allOf:
          - $ref: '#/components/schemas/StatusEnum'
        editor:
          description: This describes how the content of the message was created
          allOf:
          - $ref: '#/components/schemas/MessageEditorEnum'
        subject:
          description: The message subject
          type: string
          maxLength: 128
          minLength: 2
          example: Annual report
        campaign:
          description: The newsletter must be assigned to a campaign
          allOf:
          - $ref: '#/components/schemas/CampaignReference'
        sendOn:
          description: The scheduled send date and time for the newsletter in the ISO 8601 format.
          type: string
          format: date-time
        sendSettings:
          description: How the message will be delivered to the subscriber. You can specify multiple parameters. Then the system uses AND logic.
          allOf:
          - $ref: '#/components/schemas/NewsletterSendSettingsListing'
        sendMetrics:
          description: The sending metrics
          type: object
          readOnly: true
          allOf:
          - properties:
              status:
                type: string
                default: finished
                enum:
                - scheduled
                - in_progress
                - finished
              sent:
                description: Messages already sent
                type: string
                example: '123'
              total:
                description: The total amount of messages to send
                type: string
                example: '150'
              delivered:
                description: The amount of delivered messages
                type: string
                example: '99'
              openRate:
                description: The ratio of unique opens to delivered messages
                type: string
                example: '0.32'
              clickRate:
                description: The ratio of unique link clicks to delivered messages
                type: string
                example: '0.23'
              humanOpenRate:
                description: The ratio of unique human opens to delivered messages
                type: string
                example: '0.12'
              humanClickRate:
                description: The ratio of unique human link clicks to delivered messages
                type: string
                example: '0.13'
            type: object
        createdOn:
          description: The creation date
          type: string
          format: date-time
          readOnly: true
        flags:
          $ref: '#/components/schemas/MessageFlagsString'
      type: object
    MessageFlagsArray:
      description: The message flags.
      type: array
      items:
        type: string
        enum:
        - clicktrack
        - google_analytics
    ClickTrack:
      properties:
        clickTrackId:
          type: string
          example: C
        url:
          description: The tracked link
          type: string
          format: uri
          example: https://example.com
        name:
          description: The tracked link name
          type: string
          example: press here
        amount:
          description: The number of clicks on a link in a message
          type: string
          example: '15'
      type: object
    ErrorResponse:
      required:
      - httpStatus
      - code
      - codeDescription
      - message
      - moreInfo
      - context
      - uuid
      properties:
        httpStatus:
          description: HTTP response code
          type: integer
          format: int32
        code:
          description: API error code
          type: integer
          format: int32
        codeDescription:
          description: API error code description
          type: string
        message:
          description: Error message
          type: string
        moreInfo:
          description: URL to error description in the API Docs
          type: string
        context:
          type: object
        uuid:
          description: UUID of the error response
          type: string
      type: object
    MessageStatisticsListElement:
      properties:
        timeInterval:
          description: The statistics time frame in the ISO 8601 datetime format with duration interval
          type: string
          pattern: /^([\+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))([T\s]((([01]\d|2[0-3])((:?)[0-5]\d)?|24\:?00)([\.,]\d+(?!:))?)?(\17[0-5]\d([\.,]\d+)?)?([zZ]|([\+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?(\/)P(?=\w*\d)(?:\d+Y|Y)?(?:\d+M|M)?(?:\d+W|W)?(?:\d+D|D)?(?:T(?:\d+H|H)?(?:\d+M|M)?(?:\d+(?:\­.\d{1,2})?S|S)?)?$/
          example: 2014-09-20T00:00:00+0000/P2M18DT10H0M0S
        sent:
          type: integer
          format: int32
        totalOpened:
          type: integer
          format: int32
        totalHumanOpened:
          type: integer
          format: int32
        uniqueOpened:
          type: integer
          format: int32
        uniqueHumanOpened:
          type: integer
          format: int32
        totalClicked:
          type: integer
          format: int32
        totalHumanClicked:
          type: integer
          format: int32
        uniqueClicked:
          type: integer
          format: int32
        uniqueHumanClicked:
          type: integer
          format: int32
        goals:
          type: integer
          format: int32
        uniqueGoals:
          type: integer
          format: int32
        forwarded:
          type: integer
          format: int32
        unsubscribed:
          type: integer
          format: int32
        bounced:
          type: integer
          format: int32
        complaints:
          type: integer
          format: int32
      type: object
    NewsletterSendSettingsListing:
      properties:
        timeTravel:
          description: Use the time travel functionality. This means that the system will match the scheduled sending hour for the message to the time zone of each recipient. As a result, sending may take up to 24 hours.
          example: 'true'
          allOf:
          - $ref: '#/components/schemas/StringBooleanEnum'
        perfectTiming:
          description: Use the perfect timing functionality
          example: 'false'
          allOf:
          - $ref: '#/components/schemas/StringBooleanEnum'
      type: object
    NewsletterDetails:
      type: object
      allOf:
      - properties:
          content:
            $ref: '#/components/schemas/MessageContent'
          clickTracks:
            description: The list of tracked links
            type: array
            items:
              $ref: '#/components/schemas/ClickTrack'
          flags:
            $ref: '#/components/schemas/MessageFlagsArray'
      - $ref: '#/components/schemas/Newsletter'
  headers:
    TotalPages:
      description: The total number of pages
      schema:
        type: integer
        format: int32
    CurrentPage:
      description: The current page number
      schema:
        type: integer
        format: int32
    RateLimitRemaining:
      description: The number of requests left in the current time frame
      schema:
        type: integer
        format: int32
    TotalCount:
      description: The total number of resources found for the specified conditions
      schema:
        type: integer
        format: int32
    RateLimitLimit:
      description: The total number of requests available per time frame
      schema:
        type: integer
        format: int32
    RateLimitReset:
      description: Seconds left in the current time frame, e.g. "432 seconds"
      schema:
        type: string
  parameters:
    PerPage:
      name: perPage
      in: query
      description: Requested number of results per page
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        maximum: 1000
        minimum: 1
    newsletterId:
      name: newsletterId
      in: path
      description: The newsletter ID
      required: true
      schema:
        type: string
      example: N
    Page:
      name: page
      in: query
      description: Page number
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    Fields:
      name: fields
      in: query
      description: List of fields that should be returned. Id is always returned. Fields should be separated by comma
      required: false
      schema:
        type: string
  responses:
    NewsletterList:
      description: The list of newsletters.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        CurrentPage:
          $ref: '#/components/headers/CurrentPage'
        TotalPages:
          $ref: '#/components/headers/TotalPages'
        TotalCount:
          $ref: '#/components/headers/TotalCount'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NewsletterListElement'
    NewsletterActivities:
      description: The list of newsletters activities
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        CurrentPage:
          $ref: '#/components/headers/CurrentPage'
        TotalPages:
          $ref: '#/components/headers/TotalPages'
        TotalCount:
          $ref: '#/components/headers/TotalCount'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/NewsletterActivity'
    NewsletterDetails:
      description: The newsletter details.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewsletterDetails'
    SingleMessageStatisticsList:
      description: The list of autoresponder statistics split by time interval.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        CurrentPage:
          $ref: '#/components/headers/CurrentPage'
        TotalPages:
          $ref: '#/components/headers/TotalPages'
        TotalCount:
          $ref: '#/components/headers/TotalCount'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MessageStatisticsListElement'
    MessageStatisticsList:
      description: The list of autoresponders statistic split by time interval.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        CurrentPage:
          $ref: '#/components/headers/CurrentPage'
        TotalPages:
          $ref: '#/components/headers/TotalPages'
        TotalCount:
          $ref: '#/components/headers/TotalCount'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MessageStatisticsListElement'
  securitySchemes:
    api-key:
      type: apiKey
      description: Header value must be prefixed with api-key
      name: X-Auth-Token
      in: header
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          scopes:
            all: all data access
        authorizationCode:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
        clientCredentials:
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
