openapi: 3.1.0
info:
  title: GetResponse API v3 Accounts Campaigns API
  version: 3.0.0
  description: 'Best-effort OpenAPI 3.1 description of the GetResponse v3 JSON REST API used to

    manage contacts, campaigns, newsletters, autoresponders, custom fields, tags,

    segments, accounts, and webhooks. Authentication uses an X-Auth-Token header

    carrying a personal API key prefixed with "api-key ". Sourced from

    https://apidocs.getresponse.com/v3 and https://apireference.getresponse.com/.

    '
  contact:
    name: GetResponse Developer Support
    url: https://apidocs.getresponse.com/v3
servers:
- url: https://api.getresponse.com/v3
  description: Retail / standard GetResponse accounts
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX (Enterprise) platform
security:
- apiKey: []
tags:
- name: Campaigns
paths:
  /campaigns:
    get:
      summary: List campaigns (lists)
      operationId: listCampaigns
      tags:
      - Campaigns
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of campaigns
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
    post:
      summary: Create a new campaign
      operationId: createCampaign
      tags:
      - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Campaign'
      responses:
        '201':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
  /campaigns/{campaignId}:
    parameters:
    - $ref: '#/components/parameters/CampaignId'
    get:
      summary: Get a single campaign
      operationId: getCampaign
      tags:
      - Campaigns
      responses:
        '200':
          description: Campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
components:
  schemas:
    Campaign:
      type: object
      properties:
        campaignId:
          type: string
        name:
          type: string
        techName:
          type: string
        languageCode:
          type: string
        isDefault:
          type: boolean
        createdOn:
          type: string
          format: date-time
  parameters:
    PerPage:
      in: query
      name: perPage
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
    CampaignId:
      in: path
      name: campaignId
      required: true
      schema:
        type: string
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: 'Personal API key sent as "api-key YOUR_API_KEY". Keys expire after 90

        days of inactivity.

        '
