openapi: 3.2.0
info:
  title: GetResponse APIv3 Transactional Emails API
  version: 3.2026-07-28T07:58:55+00:00
  description: The Transactional Emails operations of the GetResponse APIv3, split by tag from the provider-published OpenAPI at https://apireference.getresponse.com/open-api.json
  contact:
    name: API Support - DevZone
    url: https://app.getresponse.com/feedback.html?devzone=yes
    email: getresponse-devzone@cs.getresponse.com
servers:
- url: https://api.getresponse.com/v3
  description: GetResponse
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX US
- url: https://api3.getresponse360.pl/v3
  description: GetResponse MAX PL
tags:
- name: Transactional Emails
  description: Transactional Emails API documentation
paths:
  /transactional-emails/{transactionalEmailId}:
    parameters:
    - $ref: '#/components/parameters/transactionalEmailId'
    get:
      tags:
      - Transactional Emails
      summary: Get transactional email details by transactional email ID
      operationId: getTransactionalEmailsById
      parameters:
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/TransactionalEmailDetails'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-labels:
      - content: GetResponse MAX
        class: primary
      - content: Add-on required
        class: warning
  /transactional-emails:
    get:
      tags:
      - Transactional Emails
      summary: Get the list of transactional emails
      description: You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.
      operationId: getTransactionalEmailsList
      parameters:
      - name: query[sentOn][from]
        in: query
        description: Search transactional emails sent from this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: query[sentOn][to]
        in: query
        description: Search transactional emails sent to this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: query[tagged]
        in: query
        description: Search tagged/untagged transactional emails
        required: false
        schema:
          $ref: '#/components/schemas/StringBooleanEnum'
      - name: query[tagId]
        in: query
        description: Search transactional emails with a specific tag ID
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/TransactionalEmailList'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-labels:
      - content: GetResponse MAX
        class: primary
      - content: Add-on required
        class: warning
    post:
      tags:
      - Transactional Emails
      summary: Send transactional email
      operationId: createTransactionalEmail
      requestBody:
        $ref: '#/components/requestBodies/CreateTransactionalEmail'
      responses:
        '201':
          $ref: '#/components/responses/TransactionalEmail'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-labels:
      - content: GetResponse MAX
        class: primary
      - content: Add-on required
        class: warning
  /transactional-emails/statistics:
    get:
      tags:
      - Transactional Emails
      summary: Get the overall statistics of transactional emails
      operationId: getTransactionalEmailsStatistics
      parameters:
      - name: query[groupBy]
        in: query
        description: Group results by time interval
        required: true
        schema:
          type: string
          enum:
          - total
          - day
      - name: query[timeFrame][from]
        in: query
        description: Count data from this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: query[timeFrame][to]
        in: query
        description: Count data to this date
        required: false
        schema:
          $ref: '#/components/schemas/DateOrDateTime'
      - name: query[tagged]
        in: query
        description: Search tagged/untagged transactional emails
        required: false
        schema:
          $ref: '#/components/schemas/StringBooleanEnum'
      - name: query[tagId]
        in: query
        description: Search transactional emails with a specific tag ID
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/TransactionalEmailStatistics'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-labels:
      - content: GetResponse MAX
        class: primary
      - content: Add-on required
        class: warning
components:
  parameters:
    transactionalEmailId:
      name: transactionalEmailId
      in: path
      required: true
      schema:
        type: string
      example: tRe4i
    PerPage:
      name: perPage
      in: query
      description: Requested number of results per page
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        maximum: 1000
        minimum: 1
    Fields:
      name: fields
      in: query
      description: List of fields that should be returned. Id is always returned. Fields should be separated by comma
      required: false
      schema:
        type: string
    Page:
      name: page
      in: query
      description: Page number
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
  headers:
    TotalPages:
      description: The total number of pages
      schema:
        type: integer
        format: int32
    CurrentPage:
      description: The current page number
      schema:
        type: integer
        format: int32
    RateLimitRemaining:
      description: The number of requests left in the current time frame
      schema:
        type: integer
        format: int32
    TotalCount:
      description: The total number of resources found for the specified conditions
      schema:
        type: integer
        format: int32
    RateLimitLimit:
      description: The total number of requests available per time frame
      schema:
        type: integer
        format: int32
    RateLimitReset:
      description: Seconds left in the current time frame, e.g. "432 seconds"
      schema:
        type: string
  schemas:
    TransactionalEmailRecipientClickedLink:
      properties:
        url:
          type: string
          format: uri
          readOnly: true
          example: https://example.com
        clickedOn:
          type: string
          format: date-time
          readOnly: true
          example: 2019-06-02T09:31:20+0200
      type: object
    TransactionalEmailRecipientStatuses:
      type: object
      allOf:
      - properties:
          rejectedOn:
            type:
            - string
            - 'null'
            format: date-time
            readOnly: true
            example: null
          openedOn:
            type:
            - string
            - 'null'
            format: date-time
            readOnly: true
            example: 2019-06-02T09:30:43+0200
          bouncedOn:
            type:
            - string
            - 'null'
            format: date-time
            readOnly: true
            example: null
          complainedOn:
            type:
            - string
            - 'null'
            format: date-time
            readOnly: true
            example: null
      - $ref: '#/components/schemas/TransactionalEmailRecipientSentOnStatus'
    TransactionalEmailListElement:
      required:
      - transactionalEmailId
      - recipients
      - fromField
      - subject
      properties:
        transactionalEmailId:
          type: string
          readOnly: true
          example: tRe4i
        fromField:
          $ref: '#/components/schemas/FromFieldReference'
        recipients:
          allOf:
          - required:
            - to
            properties:
              to:
                allOf:
                - properties:
                    statuses:
                      $ref: '#/components/schemas/TransactionalEmailRecipientSentOnStatus'
                  type: object
                - $ref: '#/components/schemas/TransactionalEmailRecipient'
            type: object
        subject:
          type: string
          maxLength: 512
          minLength: 1
          example: Order Confirmation - Example Shop
        tag:
          $ref: '#/components/schemas/TransactionalEmailTag'
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api3.getresponse360.com/v3/transactional-emails/tRe4i
      type: object
    CreateTransactionalEmail:
      required:
      - fromField
      - recipients
      - contentType
      properties:
        fromField:
          description: The 'From' address ID to be used as the message sender
          allOf:
          - $ref: '#/components/schemas/FromFieldReference'
        replyTo:
          description: The 'From' address ID to be used as the Reply-to
          allOf:
          - $ref: '#/components/schemas/FromFieldReference'
        tag:
          description: The tag ID used for statistical data collection
          allOf:
          - $ref: '#/components/schemas/NewTransactionalEmailTag'
        recipients:
          $ref: '#/components/schemas/TransactionalEmailRecipients'
        contentType:
          description: The message content type
          type: string
          default: direct
          enum:
          - direct
          - template
      type: object
      discriminator:
        propertyName: contentType
        mapping:
          direct: '#/components/schemas/DirectContent'
          template: '#/components/schemas/TemplateContent'
    TransactionalEmailRecipientDetails:
      type: object
      allOf:
      - properties:
          statuses:
            $ref: '#/components/schemas/TransactionalEmailRecipientStatuses'
          clickedLinks:
            type: array
            items:
              $ref: '#/components/schemas/TransactionalEmailRecipientClickedLink'
      - $ref: '#/components/schemas/TransactionalEmailRecipient'
    NewTransactionalEmailTag:
      required:
      - tagId
      properties:
        tagId:
          type: string
          example: vBd5
      type: object
    TransactionalEmailRecipientSentOnStatus:
      properties:
        sentOn:
          type:
          - string
          - 'null'
          format: date-time
          readOnly: true
          example: 2019-06-02T09:30:43+0200
      type: object
    TransactionalEmailRecipientTo:
      required:
      - email
      type: object
      allOf:
      - properties:
          validSince:
            description: The first time this address appeared in your system
            type: string
            format: date-time
            example: 2018-05-02T09:30:43+0200
      - $ref: '#/components/schemas/TransactionalEmailRecipient'
    TransactionalEmailRecipients:
      description: A field containing the message recipients. You can enter up to 8 recipients.
      required:
      - to
      properties:
        to:
          $ref: '#/components/schemas/TransactionalEmailRecipientTo'
        cc:
          type: array
          items:
            $ref: '#/components/schemas/TransactionalEmailRecipient'
        bcc:
          type: array
          items:
            $ref: '#/components/schemas/TransactionalEmailRecipient'
      type: object
    FromFieldReference:
      required:
      - fromFieldId
      properties:
        fromFieldId:
          description: The 'From' address ID
          type: string
          example: V
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/from-fields/V
      type: object
    TransactionalEmail:
      properties:
        transactionalEmailId:
          type: string
          readOnly: true
          example: tRe4i
      type: object
    StringBooleanEnum:
      type: string
      enum:
      - 'true'
      - 'false'
    DateOrDateTime:
      oneOf:
      - type: string
        format: date
        example: '2018-04-15'
      - type: string
        format: date-time
        example: 2018-01-15T13:30:42+0000
    TransactionalEmailRecipient:
      required:
      - email
      properties:
        email:
          type: string
          format: email
          example: john.doe@example.com
        name:
          type: string
          maxLength: 128
          minLength: 1
          example: John Doe
        status:
          type: string
          enum:
          - unknown
          - sent
          - rejected
          - opened
          - bounced
          - reported_spam
          readOnly: true
      type: object
    TransactionalEmailTag:
      required:
      - tagId
      properties:
        tagId:
          type: string
          example: vBd5
      type: object
    TransactionalEmailDetails:
      required:
      - transactionalEmailId
      - fromField
      - subject
      - recipients
      type: object
      allOf:
      - properties:
          fromField:
            description: The 'From' address ID to be used as the message sender
            allOf:
            - $ref: '#/components/schemas/FromFieldReference'
          replyTo:
            description: The 'From' address ID to be used as the Reply-to
            allOf:
            - $ref: '#/components/schemas/FromFieldReference'
          subject:
            type: string
            maxLength: 512
            minLength: 1
            example: Order Confirmation - Example Shop
          tag:
            description: The tag ID used for statistical data collection
            allOf:
            - $ref: '#/components/schemas/TransactionalEmailTag'
          recipients:
            allOf:
            - $ref: '#/components/schemas/TransactionalEmailRecipientsDetails'
          href:
            description: Direct hyperlink to a resource
            type: string
            format: uri
            readOnly: true
            example: https://api3.getresponse360.com/v3/transactional-emails/tRe4i
      - $ref: '#/components/schemas/TransactionalEmail'
    TransactionalEmailStatistics:
      properties:
        timeFrame:
          description: The statistics time frame in the ISO 8601 date format with duration interval
          type: string
          pattern: /^([\+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))([T\s]((([01]\d|2[0-3])((:?)[0-5]\d)?|24\:?00)([\.,]\d+(?!:))?)?(\17[0-5]\d([\.,]\d+)?)?([zZ]|([\+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?(\/)P(?=\w*\d)(?:\d+Y|Y)?(?:\d+M|M)?(?:\d+W|W)?(?:\d+D|D)?(?:T(?:\d+H|H)?(?:\d+M|M)?(?:\d+(?:\­.\d{1,2})?S|S)?)?$/
          example: 2014-09-20T00:00:00+0000/P2M18DT10H0M0S
        sent:
          type: integer
          format: int64
        opened:
          type: integer
          format: int64
        bounced:
          type: integer
          format: int64
        complaint:
          type: integer
          format: int64
        clicks:
          type: integer
          format: int64
      type: object
    ErrorResponse:
      required:
      - httpStatus
      - code
      - codeDescription
      - message
      - moreInfo
      - context
      - uuid
      properties:
        httpStatus:
          description: HTTP response code
          type: integer
          format: int32
        code:
          description: API error code
          type: integer
          format: int32
        codeDescription:
          description: API error code description
          type: string
        message:
          description: Error message
          type: string
        moreInfo:
          description: URL to error description in the API Docs
          type: string
        context:
          type: object
        uuid:
          description: UUID of the error response
          type: string
      type: object
    TransactionalEmailRecipientsDetails:
      required:
      - to
      properties:
        to:
          $ref: '#/components/schemas/TransactionalEmailRecipientDetails'
        cc:
          type: array
          items:
            $ref: '#/components/schemas/TransactionalEmailRecipientDetails'
        bcc:
          type: array
          items:
            $ref: '#/components/schemas/TransactionalEmailRecipientDetails'
      type: object
  responses:
    TransactionalEmailDetails:
      description: Transactional email details
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionalEmailDetails'
    TransactionalEmail:
      description: Transactional email.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionalEmail'
    TransactionalEmailList:
      description: The list of transactional emails
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        CurrentPage:
          $ref: '#/components/headers/CurrentPage'
        TotalPages:
          $ref: '#/components/headers/TotalPages'
        TotalCount:
          $ref: '#/components/headers/TotalCount'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TransactionalEmailListElement'
    TransactionalEmailStatistics:
      description: The overall statistics of transactional emails
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/TransactionalEmailStatistics'
  requestBodies:
    CreateTransactionalEmail:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateTransactionalEmail'
  securitySchemes:
    api-key:
      type: apiKey
      description: Header value must be prefixed with api-key
      name: X-Auth-Token
      in: header
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          scopes:
            all: all data access
        authorizationCode:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
        clientCredentials:
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
