openapi: 3.2.0
info:
  title: GetResponse APIv3 Landing Pages API
  version: 3.2026-07-28T07:58:55+00:00
  description: The Landing Pages operations of the GetResponse APIv3, split by tag from the provider-published OpenAPI at https://apireference.getresponse.com/open-api.json
  contact:
    name: API Support - DevZone
    url: https://app.getresponse.com/feedback.html?devzone=yes
    email: getresponse-devzone@cs.getresponse.com
servers:
- url: https://api.getresponse.com/v3
  description: GetResponse
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX US
- url: https://api3.getresponse360.pl/v3
  description: GetResponse MAX PL
tags:
- name: Landing Pages
paths:
  /lps/{lpsId}:
    parameters:
    - $ref: '#/components/parameters/lpsId'
    get:
      tags:
      - Landing Pages
      summary: Get a single landing page by ID
      operationId: getLpsById
      parameters:
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/LpsDetails'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
  /lps:
    get:
      tags:
      - Landing Pages
      summary: Get the list of landing pages
      description: You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.
      operationId: getLpsList
      parameters:
      - name: query[name]
        in: query
        description: Search landing pages by name
        required: false
        schema:
          type: string
      - name: query[status]
        in: query
        description: Search landing pages by status
        required: false
        schema:
          type: string
          enum:
          - published
          - unpublished
      - name: stats[from]
        in: query
        description: Show statistics for landing pages from this date
        required: false
        schema:
          type: string
          format: date-time
      - name: stats[to]
        in: query
        description: Show statistics for landing pages to this date
        required: false
        schema:
          type: string
          format: date-time
      - name: sort[name]
        in: query
        description: Sort landing pages by name
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[createdAt]
        in: query
        description: Sort landing pages by creation date
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[updatedAt]
        in: query
        description: Sort landing pages by modification date
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[visits]
        in: query
        description: Sort by number of page visits
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[leads]
        in: query
        description: Sort landing pages by number of leads
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[subscriptionRate]
        in: query
        description: Sort by subscription rate
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/LpsList'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
components:
  schemas:
    SortOrderEnum:
      type: string
      enum:
      - ASC
      - DESC
    Lps:
      type: object
      allOf:
      - properties:
          statistics:
            description: The landing page statistics
            allOf:
            - $ref: '#/components/schemas/LpsListItemStatistics'
        type: object
      - $ref: '#/components/schemas/LpsListItem'
    LpsPage:
      properties:
        uuid:
          description: The ID of a page associated with the landing page (i.e., 404 page and thank you page)
          type: string
          readOnly: true
          example: 6ee7597f-9bde-4b92-9411-2fb228c9fa34
        name:
          description: The name of a page associated with the landing page (i.e., 404 page and thank you page)
          type: string
          example: Home
        status:
          description: The status of a page associated with the landing page (i.e., 404 page or thank you page)
          type: string
          enum:
          - active
          - inactive
        url:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: /terms-of-service
        redirectUrl:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: ''
        createdAt:
          description: The date (in GMT) a page associated with the landing page (i.e., 404 page or thank you page) was created
          type: string
          format: date-time
          example: '2023-03-14T14:42:57'
      type: object
    LpsDetails:
      type: object
      allOf:
      - properties:
          pages:
            type: array
            items:
              $ref: '#/components/schemas/LpsPage'
        type: object
      - $ref: '#/components/schemas/LpsListItem'
      - $ref: '#/components/schemas/LpsDetailsStatistics'
    StringBooleanEnum:
      type: string
      enum:
      - 'true'
      - 'false'
    LpsListItemStatistics:
      properties:
        visits:
          description: The number of browsing sessions initiated on your landing page
          type: integer
          format: int64
          example: 9
        leads:
          description: Number of leads
          type: integer
          format: int64
          example: 5
        subscriptionRate:
          description: The number of leads divided by the number of visitors, shown as a percentage
          type: integer
          format: int64
          example: 52
      type: object
    LpsListItem:
      properties:
        lpsId:
          description: The landing page ID
          type: string
          readOnly: true
          example: ce84fabc-1349-4992-a2d7-0c44c5534128
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/lps/6b0d7d59-71d9-4708-80a6-aa0f13805111
        name:
          description: The landing page name
          type: string
          example: 'Predesigned #017'
        status:
          description: The landing page status
          type: string
          enum:
          - published
          - unpublished
          readOnly: true
        domainUrl:
          description: The landing page domain
          type: string
          format: uri
          readOnly: true
          example: predesigned-017-52612.grweb.site
        thumbnailUrl:
          description: The URL of a landing page thumbnail
          type: string
          format: uri
          readOnly: true
          example: https://us-wbe-img2.gr-cdn.com/user/e5c2094a-2354-459f-9b9f-6d0369ccae2c/6b0d7d59-71d9-4708-80a6-aa0f13805111.png?width=208
        isChatsEnabled:
          description: Chats is enabled on the landing page
          example: true
          allOf:
          - $ref: '#/components/schemas/StringBooleanEnum'
        createdAt:
          description: The date (in GMT) the landing page was created
          type: string
          format: date-time
          example: '2023-03-14T14:42:57'
        updatedAt:
          description: The date (in GMT) the landing page was updated
          type: string
          format: date-time
          example: '2023-03-14T14:42:57'
      type: object
    ErrorResponse:
      required:
      - httpStatus
      - code
      - codeDescription
      - message
      - moreInfo
      - context
      - uuid
      properties:
        httpStatus:
          description: HTTP response code
          type: integer
          format: int32
        code:
          description: API error code
          type: integer
          format: int32
        codeDescription:
          description: API error code description
          type: string
        message:
          description: Error message
          type: string
        moreInfo:
          description: URL to error description in the API Docs
          type: string
        context:
          type: object
        uuid:
          description: UUID of the error response
          type: string
      type: object
    LpsDetailsStatistics:
      properties:
        pageViews:
          description: The total number of times your landing page was viewed or refreshed
          type: integer
          format: int64
          example: 9
        visits:
          description: The number of browsing sessions initiated on your landing page
          type: integer
          format: int64
          example: 5
        uniqueVisitors:
          description: The number of people who visited your landing page
          type: integer
          format: int64
          example: 5
      type: object
  headers:
    TotalPages:
      description: The total number of pages
      schema:
        type: integer
        format: int32
    CurrentPage:
      description: The current page number
      schema:
        type: integer
        format: int32
    RateLimitRemaining:
      description: The number of requests left in the current time frame
      schema:
        type: integer
        format: int32
    TotalCount:
      description: The total number of resources found for the specified conditions
      schema:
        type: integer
        format: int32
    RateLimitLimit:
      description: The total number of requests available per time frame
      schema:
        type: integer
        format: int32
    RateLimitReset:
      description: Seconds left in the current time frame, e.g. "432 seconds"
      schema:
        type: string
  parameters:
    PerPage:
      name: perPage
      in: query
      description: Requested number of results per page
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        maximum: 1000
        minimum: 1
    Fields:
      name: fields
      in: query
      description: List of fields that should be returned. Id is always returned. Fields should be separated by comma
      required: false
      schema:
        type: string
    Page:
      name: page
      in: query
      description: Page number
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    lpsId:
      name: lpsId
      in: path
      description: The landing page ID
      required: true
      schema:
        type: string
      example: ce84fabc-1349-4992-a2d7-0c44c5534128
  responses:
    LpsList:
      description: The list of tags
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        CurrentPage:
          $ref: '#/components/headers/CurrentPage'
        TotalPages:
          $ref: '#/components/headers/TotalPages'
        TotalCount:
          $ref: '#/components/headers/TotalCount'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Lps'
    LpsDetails:
      description: The landing page details
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LpsDetails'
  securitySchemes:
    api-key:
      type: apiKey
      description: Header value must be prefixed with api-key
      name: X-Auth-Token
      in: header
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          scopes:
            all: all data access
        authorizationCode:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
        clientCredentials:
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
