openapi: 3.1.0
info:
  title: GetResponse API v3 Accounts Autoresponders API
  version: 3.0.0
  description: 'Best-effort OpenAPI 3.1 description of the GetResponse v3 JSON REST API used to

    manage contacts, campaigns, newsletters, autoresponders, custom fields, tags,

    segments, accounts, and webhooks. Authentication uses an X-Auth-Token header

    carrying a personal API key prefixed with "api-key ". Sourced from

    https://apidocs.getresponse.com/v3 and https://apireference.getresponse.com/.

    '
  contact:
    name: GetResponse Developer Support
    url: https://apidocs.getresponse.com/v3
servers:
- url: https://api.getresponse.com/v3
  description: Retail / standard GetResponse accounts
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX (Enterprise) platform
security:
- apiKey: []
tags:
- name: Autoresponders
paths:
  /autoresponders:
    get:
      summary: List autoresponders
      operationId: listAutoresponders
      tags:
      - Autoresponders
      responses:
        '200':
          description: Autoresponders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Autoresponder'
  /autoresponders/{autoresponderId}:
    parameters:
    - in: path
      name: autoresponderId
      required: true
      schema:
        type: string
    get:
      summary: Get autoresponder
      operationId: getAutoresponder
      tags:
      - Autoresponders
      responses:
        '200':
          description: Autoresponder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Autoresponder'
components:
  schemas:
    Autoresponder:
      type: object
      properties:
        autoresponderId:
          type: string
        name:
          type: string
        subject:
          type: string
        status:
          type: string
          enum:
          - enabled
          - disabled
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: 'Personal API key sent as "api-key YOUR_API_KEY". Keys expire after 90

        days of inactivity.

        '
