openapi: 3.2.0
info:
  title: GetResponse APIv3 Legacy Forms API
  description: '# Limits and throttling


    GetResponse API calls are subject to throttling to ensure a high level of service for all users.'
  contact:
    name: API Support - DevZone
    url: https://app.getresponse.com/feedback.html?devzone=yes
    email: getresponse-devzone@cs.getresponse.com
  version: 3.2026-07-28T07:58:55+00:00
  x-logo:
    url: https://us-ws.gr-cdn.com/images/global/getresponse.png
servers:
- url: https://api.getresponse.com/v3
  description: GetResponse
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX US
- url: https://api3.getresponse360.pl/v3
  description: GetResponse MAX PL
tags:
- name: Legacy Forms
  description: Legacy Forms API documentation
paths:
  /webforms/{webformId}:
    parameters:
    - $ref: '#/components/parameters/webformId'
    get:
      tags:
      - Legacy Forms
      summary: Get Legacy Form by ID
      description: Get Legacy Form by ID.
      operationId: getLegacyFormById
      parameters:
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/LegacyForm'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
  /webforms:
    get:
      tags:
      - Legacy Forms
      summary: Get Legacy Forms
      description: Get the list of Legacy Forms. You can filter the resource using criteria specified as `query[*]`. You can provide multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`. You can specify multiple fields to sort by.
      operationId: getLegacyFormList
      parameters:
      - name: query[name]
        in: query
        description: Search Legacy Forms by name
        required: false
        schema:
          type: string
      - name: query[modifiedOn][from]
        in: query
        description: Search Legacy Forms modified from this date
        required: false
        schema:
          type: string
          format: date-time
      - name: query[modifiedOn][to]
        in: query
        description: Search Legacy Forms modified to this date
        required: false
        schema:
          type: string
          format: date-time
      - name: query[campaignId]
        in: query
        description: Search Legacy Forms by campaignId. Accepts multiple IDs separated with a comma
        required: false
        schema:
          type: string
      - name: sort[modifiedOn]
        in: query
        description: Sort Legacy Forms by modification date
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/LegacyFormList'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
components:
  schemas:
    LegacyForm:
      properties:
        webformId:
          description: The webform (Legacy Form) ID
          type: string
          example: NPKx
        name:
          type: string
          example: Webform 2010/7/5
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          example: https://api.getresponse.com/v3/webforms/NPKx
        scriptUrl:
          description: The URL of the script that displays the Legacy Form
          type: string
          format: uri
          example: https://app.getresponse.com/view_webform.js?u=VfEy1&wid=11774901
        status:
          $ref: '#/components/schemas/StatusEnum'
        modifiedOn:
          description: The modification date
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/LegacyFormStatistics'
        campaign:
          $ref: '#/components/schemas/CampaignReference'
      type: object
    StatusEnum:
      type: string
      enum:
      - enabled
      - disabled
    ErrorResponse:
      required:
      - httpStatus
      - code
      - codeDescription
      - message
      - moreInfo
      - context
      - uuid
      properties:
        httpStatus:
          description: HTTP response code
          type: integer
          format: int32
        code:
          description: API error code
          type: integer
          format: int32
        codeDescription:
          description: API error code description
          type: string
        message:
          description: Error message
          type: string
        moreInfo:
          description: URL to error description in the API Docs
          type: string
        context:
          type: object
        uuid:
          description: UUID of the error response
          type: string
      type: object
    LegacyFormStatistics:
      properties:
        opened:
          description: The number of Legacy Form views
          type: integer
          format: int64
          example: 1234
        subscribed:
          description: The number of contacts that subscribed using this Legacy Form
          type: integer
          format: int64
          example: 100
      type: object
    SortOrderEnum:
      type: string
      enum:
      - ASC
      - DESC
    CampaignReference:
      required:
      - campaignId
      properties:
        campaignId:
          description: Campaign ID
          type: string
          example: C
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/campaigns/C
        name:
          description: The campaign name
          type:
          - string
          - 'null'
          readOnly: true
          example: Promo campaign
      type: object
  responses:
    LegacyFormList:
      description: The list of Legacy Forms.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        CurrentPage:
          $ref: '#/components/headers/CurrentPage'
        TotalPages:
          $ref: '#/components/headers/TotalPages'
        TotalCount:
          $ref: '#/components/headers/TotalCount'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/LegacyForm'
    LegacyForm:
      description: The Legacy Form.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LegacyForm'
  headers:
    RateLimitLimit:
      description: The total number of requests available per time frame
      schema:
        type: integer
        format: int32
    RateLimitReset:
      description: Seconds left in the current time frame, e.g. "432 seconds"
      schema:
        type: string
    RateLimitRemaining:
      description: The number of requests left in the current time frame
      schema:
        type: integer
        format: int32
    TotalCount:
      description: The total number of resources found for the specified conditions
      schema:
        type: integer
        format: int32
    CurrentPage:
      description: The current page number
      schema:
        type: integer
        format: int32
    TotalPages:
      description: The total number of pages
      schema:
        type: integer
        format: int32
  parameters:
    webformId:
      name: webformId
      in: path
      description: The webform (Legacy Form) ID
      required: true
      schema:
        type: string
      example: 3Va2e
    Page:
      name: page
      in: query
      description: Page number
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    PerPage:
      name: perPage
      in: query
      description: Requested number of results per page
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        maximum: 1000
        minimum: 1
    Fields:
      name: fields
      in: query
      description: List of fields that should be returned. Id is always returned. Fields should be separated by comma
      required: false
      schema:
        type: string
  securitySchemes:
    api-key:
      type: apiKey
      description: Header value must be prefixed with api-key
      name: X-Auth-Token
      in: header
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          scopes:
            all: all data access
        authorizationCode:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
        clientCredentials:
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
externalDocs:
  description: Find out more about API
  url: https://apidocs.getresponse.com
x-tagGroups:
- name: User
  tags:
  - Accounts
  - Multimedia
  - File Library
- name: Contacts
  tags:
  - Campaigns (Lists)
  - Contacts
  - Custom Fields
  - Search Contacts
  - Subscription Confirmations
  - Predefined Fields
  - Suppressions
  - Imports
- name: Email Marketing
  tags:
  - Newsletters
  - Autoresponders
  - RSS Newsletters
  - Legacy Landing Pages
  - From Fields
  - A/B tests
  - A/B tests - subject
  - Click Tracks
- name: Tags
  tags:
  - Tags
- name: GDPR Fields
  tags:
  - GDPR Fields
- name: Forms and surveys
  tags:
  - Legacy Forms
  - Forms
- name: Automation
  tags:
  - Workflows
  - Custom Events
  - Tracking
- name: Ecommerce
  tags:
  - Addresses
  - Carts
  - Categories
  - Meta Fields
  - Orders
  - Products
  - Product Variants
  - Shops
  - Taxes
- name: Transactional Emails
  tags:
  - Transactional Emails
  - Transactional Emails Templates
- name: SMS
  tags:
  - SMS Messages
  - SMS Automation Messages
- name: Statistics
  tags:
  - Ecommerce
  - Sms
  - Website
  - Landing Page
  - Form and Popup
- name: Webinars
  tags:
  - Webinars
- name: Websites
  tags:
  - Websites
  - Landing Pages
- name: Forms and Popups
  tags:
  - Forms and Popups
- name: Custom Reports
  tags:
  - Custom Reports
