openapi: 3.1.0
info:
  title: GetResponse API v3 Accounts Newsletters API
  version: 3.0.0
  description: 'Best-effort OpenAPI 3.1 description of the GetResponse v3 JSON REST API used to

    manage contacts, campaigns, newsletters, autoresponders, custom fields, tags,

    segments, accounts, and webhooks. Authentication uses an X-Auth-Token header

    carrying a personal API key prefixed with "api-key ". Sourced from

    https://apidocs.getresponse.com/v3 and https://apireference.getresponse.com/.

    '
  contact:
    name: GetResponse Developer Support
    url: https://apidocs.getresponse.com/v3
servers:
- url: https://api.getresponse.com/v3
  description: Retail / standard GetResponse accounts
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX (Enterprise) platform
security:
- apiKey: []
tags:
- name: Newsletters
paths:
  /newsletters:
    get:
      summary: List newsletters
      operationId: listNewsletters
      tags:
      - Newsletters
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Newsletters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Newsletter'
    post:
      summary: Create / send a newsletter
      operationId: createNewsletter
      tags:
      - Newsletters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Newsletter'
      responses:
        '202':
          description: Newsletter queued for sending
  /newsletters/{newsletterId}:
    parameters:
    - in: path
      name: newsletterId
      required: true
      schema:
        type: string
    get:
      summary: Get a newsletter
      operationId: getNewsletter
      tags:
      - Newsletters
      responses:
        '200':
          description: Newsletter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Newsletter'
components:
  schemas:
    Newsletter:
      type: object
      properties:
        newsletterId:
          type: string
        name:
          type: string
        subject:
          type: string
        fromField:
          type: object
          properties:
            fromFieldId:
              type: string
        content:
          type: object
          properties:
            html:
              type: string
            plain:
              type: string
  parameters:
    PerPage:
      in: query
      name: perPage
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: 'Personal API key sent as "api-key YOUR_API_KEY". Keys expire after 90

        days of inactivity.

        '
