openapi: 3.0.0
info:
  title: GetResponse APIv3 Forms and Popups
  version: 3.2026-07-28T07:58:55+00:00
  description: The Forms and Popups operations of the GetResponse APIv3, split by tag from the provider-published
    OpenAPI at https://apireference.getresponse.com/open-api.json
  contact:
    name: API Support - DevZone
    url: https://app.getresponse.com/feedback.html?devzone=yes
    email: getresponse-devzone@cs.getresponse.com
servers:
- url: https://api.getresponse.com/v3
  description: GetResponse
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX US
- url: https://api3.getresponse360.pl/v3
  description: GetResponse MAX PL
tags:
- name: Forms and Popups
  description: Forms and Popups API documentation
paths:
  /popups/{popupId}:
    get:
      tags:
      - Forms and Popups
      summary: Get a single form or popup by ID
      operationId: getPopupDetails
      parameters:
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/PopupDetails'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 404
                    code: 1013
                    codeDescription: The requested resource was not found
                    message: Resource not found
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1013
                    context:
                      contactId: pVyRW
                    uuid: 87b90a96-5ee5-4ca4-8180-ac00adcf62c7
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context
                      section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method
                      details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota
                      window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
    parameters:
    - $ref: '#/components/parameters/popupId'
  /popups:
    get:
      tags:
      - Forms and Popups
      summary: Get the list of forms and popups
      description: You can filter the resource using criteria specified as `query[*]`. You can provide
        multiple criteria, to use AND logic. You can sort the resource using parameters specified as `sort[*]`.
        You can specify multiple fields to sort by.
      operationId: getPopupsList
      parameters:
      - name: query[name]
        in: query
        description: Search forms and popups by name
        required: false
        schema:
          type: string
      - name: query[status]
        in: query
        description: Search forms and popups by status
        required: false
        schema:
          type: string
          enum:
          - published
          - unpublished
      - name: stats[from]
        in: query
        description: Show statistics from this date
        required: false
        schema:
          type: string
          format: date-time
      - name: stats[to]
        in: query
        description: Show statistics to this date
        required: false
        schema:
          type: string
          format: date-time
      - name: sort[name]
        in: query
        description: Sort forms and popups by name
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[status]
        in: query
        description: Sort forms and popups by status
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[createdAt]
        in: query
        description: Sort forms and popups by creation date
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[updatedAt]
        in: query
        description: Sort forms and popups by modification date
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[views]
        in: query
        description: Sort by number of views
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[uniqueVisitors]
        in: query
        description: Sort by number of unique visitors
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[leads]
        in: query
        description: Sort by number of leads
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: sort[ctr]
        in: query
        description: Sort by CTR (click-through rate)
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - $ref: '#/components/parameters/Fields'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/PopupsList'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context
                      section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method
                      details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota
                      window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
components:
  headers:
    CurrentPage:
      description: The current page number
      schema:
        type: integer
        format: int32
    RateLimitLimit:
      description: The total number of requests available per time frame
      schema:
        type: integer
        format: int32
    RateLimitRemaining:
      description: The number of requests left in the current time frame
      schema:
        type: integer
        format: int32
    RateLimitReset:
      description: Seconds left in the current time frame, e.g. "432 seconds"
      schema:
        type: string
    TotalCount:
      description: The total number of resources found for the specified conditions
      schema:
        type: integer
        format: int32
    TotalPages:
      description: The total number of pages
      schema:
        type: integer
        format: int32
  parameters:
    Fields:
      name: fields
      in: query
      description: List of fields that should be returned. Id is always returned. Fields should be separated
        by comma
      required: false
      schema:
        type: string
    Page:
      name: page
      in: query
      description: Page number
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    PerPage:
      name: perPage
      in: query
      description: Requested number of results per page
      required: false
      schema:
        type: integer
        format: int32
        default: 100
        maximum: 1000
        minimum: 1
    popupId:
      name: popupId
      in: path
      description: The form or popup ID
      required: true
      schema:
        type: string
      example: ce84fabc-1349-4992-a2d7-0c44c5534128
  responses:
    PopupDetails:
      description: Form or popup details
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PopupDetails'
    PopupsList:
      description: The list of forms and popups
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        CurrentPage:
          $ref: '#/components/headers/CurrentPage'
        TotalPages:
          $ref: '#/components/headers/TotalPages'
        TotalCount:
          $ref: '#/components/headers/TotalCount'
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/PopupListItem'
  schemas:
    ErrorResponse:
      required:
      - httpStatus
      - code
      - codeDescription
      - message
      - moreInfo
      - context
      - uuid
      properties:
        httpStatus:
          description: HTTP response code
          type: integer
          format: int32
        code:
          description: API error code
          type: integer
          format: int32
        codeDescription:
          description: API error code description
          type: string
        message:
          description: Error message
          type: string
        moreInfo:
          description: URL to error description in the API Docs
          type: string
        context:
          type: object
        uuid:
          description: UUID of the error response
          type: string
      type: object
    PopupDetails:
      properties:
        popupId:
          description: The form or popup ID
          type: string
          readOnly: true
          example: ce84fabc-1349-4992-a2d7-0c44c5534128
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/popups/ce84fabc-1349-4992-a2d7-0c44c5534128
        name:
          description: The form or popup name
          type: string
          example: My popup name
        status:
          description: The form or popup status
          type: string
          enum:
          - published
          - unpublished
          readOnly: true
        type:
          description: The form or popup type
          type: string
          enum:
          - popup
          - inline
          readOnly: true
        thumbnailUrl:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://us-wbe-img2.gr-cdn.com/user/X/Y.webp
        createdAt:
          description: The date (in GMT) the form or popup was created. Shown in format `ISO 8601` without
            timezone offset e.g. `2024-01-01T10:35:00`.
          type: string
          format: date-time
          example: '2024-01-01T10:35:00'
        updatedAt:
          description: The date (in GMT) the form or popup was updated. Shown in format `ISO 8601` without
            timezone offset e.g. `2024-01-10T10:00:00`.
          type: string
          format: date-time
          example: '2024-01-10T10:00:00'
      type: object
    PopupListItem:
      properties:
        popupId:
          description: The form or popup ID
          type: string
          readOnly: true
          example: ce84fabc-1349-4992-a2d7-0c44c5534128
        href:
          description: Direct hyperlink to a resource
          type: string
          format: uri
          readOnly: true
          example: https://api.getresponse.com/v3/popups/6b0d7d59-71d9-4708-80a6-aa0f13805111
        name:
          description: The form or popup name
          type: string
          example: My popup name
        status:
          description: The form or popup status
          type: string
          enum:
          - published
          - unpublished
          readOnly: true
        type:
          description: The form or popup type
          type: string
          enum:
          - popup
          - inline
          readOnly: true
        createdAt:
          description: The date (in GMT) the form or popup was created. Shown in format `ISO 8601` without
            timezone offset e.g. `2024-01-01T10:35:00`.
          type: string
          format: date-time
          example: '2024-01-10T10:00:00'
        updatedAt:
          description: The date (in GMT) the form or popup was updated. Shown in format `ISO 8601` without
            timezone offset e.g. `2024-01-10T10:00:00`.
          type: string
          format: date-time
          example: '2024-01-10T10:00:00'
        statistics:
          description: The landing page statistics
          allOf:
          - $ref: '#/components/schemas/PopupListItemStatistics'
      type: object
    PopupListItemStatistics:
      properties:
        views:
          description: The total number of times your popup was viewed by website visitors
          type: integer
          format: int64
          example: 9
        uniqueVisitors:
          description: The total number of visitors
          type: integer
          format: int64
          example: 10
        leads:
          description: The number of leads
          type: integer
          format: int64
          example: 5
        ctr:
          description: The number of clicks divided by the number of views, shown as a percentage
          type: integer
          format: int64
          example: 52
      type: object
    SortOrderEnum:
      type: string
      enum:
      - ASC
      - DESC
  securitySchemes:
    api-key:
      type: apiKey
      description: Header value must be prefixed with api-key
      name: X-Auth-Token
      in: header
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          scopes:
            all: all data access
        authorizationCode:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
        clientCredentials:
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
