openapi: 3.1.0
info:
  title: GetResponse API v3 Accounts Contacts API
  version: 3.0.0
  description: 'Best-effort OpenAPI 3.1 description of the GetResponse v3 JSON REST API used to

    manage contacts, campaigns, newsletters, autoresponders, custom fields, tags,

    segments, accounts, and webhooks. Authentication uses an X-Auth-Token header

    carrying a personal API key prefixed with "api-key ". Sourced from

    https://apidocs.getresponse.com/v3 and https://apireference.getresponse.com/.

    '
  contact:
    name: GetResponse Developer Support
    url: https://apidocs.getresponse.com/v3
servers:
- url: https://api.getresponse.com/v3
  description: Retail / standard GetResponse accounts
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX (Enterprise) platform
security:
- apiKey: []
tags:
- name: Contacts
paths:
  /contacts:
    get:
      summary: List contacts
      operationId: listContacts
      tags:
      - Contacts
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - in: query
        name: query[email]
        schema:
          type: string
          format: email
      - in: query
        name: query[campaignId]
        schema:
          type: string
      responses:
        '200':
          description: Contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contact'
    post:
      summary: Add (or import) a contact to a campaign
      operationId: createContact
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '202':
          description: Contact accepted for processing
  /contacts/{contactId}:
    parameters:
    - $ref: '#/components/parameters/ContactId'
    get:
      summary: Get a contact
      operationId: getContact
      tags:
      - Contacts
      responses:
        '200':
          description: Contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
    post:
      summary: Update a contact
      operationId: updateContact
      tags:
      - Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Updated contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
    delete:
      summary: Delete a contact
      operationId: deleteContact
      tags:
      - Contacts
      responses:
        '204':
          description: Contact deleted
components:
  parameters:
    ContactId:
      in: path
      name: contactId
      required: true
      schema:
        type: string
    PerPage:
      in: query
      name: perPage
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
  schemas:
    Contact:
      type: object
      properties:
        contactId:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        campaign:
          type: object
          properties:
            campaignId:
              type: string
        customFieldValues:
          type: array
          items:
            type: object
            properties:
              customFieldId:
                type: string
              value:
                type: array
                items:
                  type: string
        tags:
          type: array
          items:
            type: object
            properties:
              tagId:
                type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: 'Personal API key sent as "api-key YOUR_API_KEY". Keys expire after 90

        days of inactivity.

        '
