openapi: 3.0.0
info:
  title: GetResponse APIv3 Sms
  version: 3.2026-07-28T07:58:55+00:00
  description: The Sms operations of the GetResponse APIv3, split by tag from the provider-published OpenAPI
    at https://apireference.getresponse.com/open-api.json
  contact:
    name: API Support - DevZone
    url: https://app.getresponse.com/feedback.html?devzone=yes
    email: getresponse-devzone@cs.getresponse.com
servers:
- url: https://api.getresponse.com/v3
  description: GetResponse
- url: https://api3.getresponse360.com/v3
  description: GetResponse MAX US
- url: https://api3.getresponse360.pl/v3
  description: GetResponse MAX PL
tags:
- name: Sms
paths:
  /statistics/sms/{smsId}:
    get:
      tags:
      - Sms
      summary: Get details for the SMS message statistics
      operationId: getSmsStats
      parameters:
      - name: query[createdOn][from]
        in: query
        description: Get statistics for a single SMS from this date
        schema:
          type: string
          format: date
          example: '2023-01-20'
      - name: query[createdOn][to]
        in: query
        description: Get statistics for a single SMS to this date
        schema:
          type: string
          format: date
          example: '2023-01-20'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          $ref: '#/components/responses/SmsStats'
        '400':
          description: Request validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 400
                    code: 1000
                    codeDescription: General error of validation process, more details should be in context
                      section
                    message: Validation error, see context section for more information
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1000
                    context:
                      validationType: searchFilter[query]
                      fieldName: name
                      originalName: lorem-ipsum
                      errorDescription: Not allowed search field
                    uuid: 77dabfd1-1fa7-4f9f-8d3f-487b4403e3aa
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 401
                    code: 1014
                    codeDescription: Problem during authentication process, check headers!
                    message: Unable to authenticate request. Check credentials or authentication method
                      details
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1014
                    context:
                      authenticationType: auth_token
                    uuid: 62417847-4f12-4c25-9b3a-0b619a187efe
        '429':
          description: The throttling limit has been reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  value:
                    httpStatus: 429
                    code: 1015
                    codeDescription: Too many request to API, quota reached, please wait till next quota
                      window
                    message: You have reached your requests limit for this time window, please wait...
                    moreInfo: https://apidocs.getresponse.com/en/v3/errors/1015
                    context:
                      currentLimit: 30000
                      timeToReset: 100 seconds
                    uuid: 510c6726-7f65-46b7-a798-ca403133924f
      security:
      - api-key: []
      - oauth2:
        - all
      x-labels:
      - content: GetResponse MAX
        class: primary
      - content: Add-on required
        class: warning
    parameters:
    - $ref: '#/components/parameters/smsId'
components:
  headers:
    RateLimitLimit:
      description: The total number of requests available per time frame
      schema:
        type: integer
        format: int32
    RateLimitRemaining:
      description: The number of requests left in the current time frame
      schema:
        type: integer
        format: int32
    RateLimitReset:
      description: Seconds left in the current time frame, e.g. "432 seconds"
      schema:
        type: string
  parameters:
    Fields:
      name: fields
      in: query
      description: List of fields that should be returned. Id is always returned. Fields should be separated
        by comma
      required: false
      schema:
        type: string
    smsId:
      name: smsId
      in: path
      description: The SMS message ID
      required: true
      schema:
        type: string
      example: N
  responses:
    SmsStats:
      description: SMS statistics
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SmsStats'
  schemas:
    ErrorResponse:
      required:
      - httpStatus
      - code
      - codeDescription
      - message
      - moreInfo
      - context
      - uuid
      properties:
        httpStatus:
          description: HTTP response code
          type: integer
          format: int32
        code:
          description: API error code
          type: integer
          format: int32
        codeDescription:
          description: API error code description
          type: string
        message:
          description: Error message
          type: string
        moreInfo:
          description: URL to error description in the API Docs
          type: string
        context:
          type: object
        uuid:
          description: UUID of the error response
          type: string
      type: object
    SmsStats:
      required:
      - smsId
      properties:
        smsId:
          description: The SMS message ID
          type: string
          example: PvLI8C
        totalSms:
          description: The number of SMS messages sent
          type: integer
          example: 1
        totalRecipients:
          description: The number of recipients
          type: integer
          example: 1
        totalClicks:
          description: The number of link clicks from an SMS message
          type: integer
          example: 1
        totalUniqueClicks:
          description: The number of total unique link clicks from an SMS message
          type: integer
          example: 1
        totalUnsubscribes:
          description: The number of opt-outs from an SMS message
          type: integer
          example: 1
        totalDelivered:
          description: The number of delivered SMS messages
          type: integer
          example: 1
        totalPrice:
          description: Cost details of a specific SMS
          type: object
          nullable: false
          allOf:
          - properties:
              amount:
                description: Total SMS message cost
                type: string
                example: '0.0240'
              currency:
                description: Pricing currency
                type: string
                example: USD
            type: object
        link:
          description: Link details
          type: object
          nullable: false
          allOf:
          - properties:
              url:
                description: Link URL
                type: string
                example: https://getresponse.com
              clicks:
                description: The number of link clicks from an SMS message
                type: integer
                example: 1
              uniqueClicks:
                description: The number of unique link clicks from an SMS message
                type: integer
                example: 1
            type: object
        countryStatistics:
          description: SMS message statistics per country
          type: object
          nullable: false
          allOf:
          - properties:
              countryCode:
                description: Country code
                type: string
                example: PL
              recipients:
                description: The number of recipients
                type: integer
                example: 1
              smsCount:
                description: The number of messages sent
                type: integer
                example: 1
              price:
                description: Pricing details
                type: object
                allOf:
                - properties:
                    price:
                      description: Total cost
                      type: string
                      example: '0.0240'
                    currency:
                      description: Pricing currency
                      type: string
                      example: USD
                  type: object
            type: object
      type: object
  securitySchemes:
    api-key:
      type: apiKey
      description: Header value must be prefixed with api-key
      name: X-Auth-Token
      in: header
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          scopes:
            all: all data access
        authorizationCode:
          authorizationUrl: https://app.getresponse.com/oauth2_authorize.html
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
        clientCredentials:
          tokenUrl: https://api.getresponse.com/v3/token
          scopes:
            all: all data access
